{% extends 'base.html' %}

{% block title %}Books{% endblock title %}

{% block style %}

<style>

    h1{
        font-family: cursive;
    }

    p{
        margin-top: 40px;
        font-family: cursive;
        font-size: 22px;
    }

</style>
{% endblock style %}

{% block body %}
<h1>Books</h1>

<p>This is Books page.</p>


<div class="card-block table-border-style">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Book Name</th>
                    <th>Author</th>
                    <th>Published Date</th>
                </tr>
            </thead>
            <tbody>
                {% for book in book_list %}
                <tr>
                    <th scope="row">1</th>
                    <td>{{book.name}}</td>
                    <td>{{book.author.name}}</td>
                    <td>{{book.published_date}}</td>
                </tr>
               {% endfor %}
            </tbody>
        </table>

{% endblock body %}